<?xml version="1.0"?>
<robot name="ecat_arms_control" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="config_dir" default="$(find robot_hw_ethercat)/config"/>

  <xacro:macro name="zeroerr_axis" params="joint_name ring_position profile">
    <joint name="${joint_name}">
      <command_interface name="position"/>
      <command_interface name="digital_outputs"/>
      <command_interface name="control_word"/>
      <state_interface name="position"/>
      <state_interface name="digital_inputs"/>
      <state_interface name="status_word"/>
      <ec_module name="${joint_name}_drive">
        <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
        <param name="alias">0</param>
        <param name="position">${ring_position}</param>
        <param name="mode_of_operation">8</param>
        <param name="slave_config">$(arg config_dir)/slaves/${profile}.yaml</param>
      </ec_module>
    </joint>
  </xacro:macro>

  <xacro:macro name="ti5_axis" params="joint_name ring_position profile">
    <joint name="${joint_name}">
      <command_interface name="position"/>
      <command_interface name="control_word"/>
      <state_interface name="position"/>
      <state_interface name="status_word"/>
      <ec_module name="${joint_name}_drive">
        <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
        <param name="alias">0</param>
        <param name="position">${ring_position}</param>
        <param name="mode_of_operation">8</param>
        <param name="slave_config">$(arg config_dir)/slaves/${profile}.yaml</param>
      </ec_module>
    </joint>
  </xacro:macro>

  <xacro:macro name="xmc_axis" params="joint_name ring_position profile">
    <joint name="${joint_name}">
      <command_interface name="position"/>
      <command_interface name="control_word"/>
      <state_interface name="position"/>
      <state_interface name="status_word"/>
      <ec_module name="${joint_name}_drive">
        <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
        <param name="alias">0</param>
        <param name="position">${ring_position}</param>
        <param name="mode_of_operation">8</param>
        <param name="slave_config">$(arg config_dir)/slaves/${profile}.yaml</param>
      </ec_module>
    </joint>
  </xacro:macro>

  <ros2_control name="ecat_arms" type="system">
    <hardware>
      <plugin>ethercat_driver/EthercatDriver</plugin>
      <param name="master_id">0</param>
      <param name="control_frequency">250</param>
      <param name="startup_bus_timeout_ms">70000</param>
      <param name="preload_timeout_ms">5000</param>
    </hardware>

    <xacro:zeroerr_axis joint_name="right_joint1" ring_position="1" profile="zeroerr_j1"/>
    <xacro:ti5_axis joint_name="right_joint2" ring_position="2" profile="ti5_right_joint2"/>
    <xacro:ti5_axis joint_name="right_joint3" ring_position="3" profile="ti5_j3"/>
    <xacro:zeroerr_axis joint_name="right_joint4" ring_position="4" profile="zeroerr_right_joint4"/>
    <xacro:zeroerr_axis joint_name="right_joint5" ring_position="5" profile="zeroerr_right_joint5"/>
    <xacro:zeroerr_axis joint_name="right_joint6" ring_position="6" profile="right_j6"/>
    <xacro:zeroerr_axis joint_name="left_joint1" ring_position="7" profile="zeroerr_j1"/>
    <xacro:ti5_axis joint_name="left_joint2" ring_position="8" profile="ti5_j2"/>
    <xacro:ti5_axis joint_name="left_joint3" ring_position="9" profile="ti5_left_joint3"/>
    <xacro:zeroerr_axis joint_name="left_joint4" ring_position="10" profile="zeroerr_j4"/>
    <xacro:zeroerr_axis joint_name="left_joint5" ring_position="11" profile="zeroerr_left_joint5"/>
    <xacro:zeroerr_axis joint_name="left_joint6" ring_position="12" profile="left_j6"/>
    <xacro:zeroerr_axis joint_name="turn" ring_position="14" profile="turn"/>
    <xacro:xmc_axis joint_name="updown" ring_position="15" profile="xmc_updown_sw511"/>

    <sensor name="ethercat_domain">
      <state_interface name="process_data_age_ms"/>
    </sensor>
    <sensor name="ethercat_master">
      <state_interface name="link_up"/>
      <state_interface name="slaves_responding"/>
      <state_interface name="wc_error_count"/>
    </sensor>
    <sensor name="ethercat_slave_1"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_2"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_3"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_4"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_5"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_6"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_7"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_8"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_9"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_10"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_11"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_12"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_14"><state_interface name="al_state"/></sensor>
    <sensor name="ethercat_slave_15"><state_interface name="al_state"/></sensor>
  </ros2_control>
</robot>
