<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alfa_v3_head_control">
  <xacro:arg name="description_file" default=""/>
  <xacro:arg name="hardware_file" default=""/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="head_can_interface" default="can2"/>
  <xacro:arg name="head_configure_timeout_ms" default=""/>
  <xacro:arg name="head_feedback_timeout_ms" default=""/>
  <xacro:arg name="head_transition_timeout_ms" default=""/>
  <xacro:arg name="head_command_rate_hz" default=""/>
  <xacro:arg name="head_disabled_poll_interval_ms" default=""/>
  <xacro:arg name="head_max_rx_frames_per_cycle" default=""/>
  <xacro:arg name="head_joint_1_name" default="head_joint"/>
  <xacro:arg name="head_joint_2_name" default="head_pitch_joint"/>
  <xacro:arg name="head_joint_1_min" default=""/>
  <xacro:arg name="head_joint_1_max" default=""/>
  <xacro:arg name="head_joint_2_min" default=""/>
  <xacro:arg name="head_joint_2_max" default=""/>
  <xacro:arg name="head_joint_1_velocity_limit" default=""/>
  <xacro:arg name="head_joint_2_velocity_limit" default=""/>
  <xacro:arg name="head_joint_1_acceleration_krad_s2" default=""/>
  <xacro:arg name="head_joint_1_deceleration_krad_s2" default=""/>
  <xacro:arg name="head_joint_1_maximum_speed_rad_s" default=""/>
  <xacro:arg name="head_joint_2_acceleration_krad_s2" default=""/>
  <xacro:arg name="head_joint_2_deceleration_krad_s2" default=""/>
  <xacro:arg name="head_joint_2_maximum_speed_rad_s" default=""/>
  <xacro:arg name="head_motor_1_can_id" default="1"/>
  <xacro:arg name="head_motor_2_can_id" default="2"/>
  <xacro:arg name="head_motor_1_master_id" default="17"/>
  <xacro:arg name="head_motor_2_master_id" default="18"/>

  <xacro:include filename="$(arg description_file)"/>
  <xacro:include filename="$(arg hardware_file)"/>
  <xacro:damiao_head_system
    joint_1_name="$(arg head_joint_1_name)" joint_2_name="$(arg head_joint_2_name)"
    joint_1_min="$(arg head_joint_1_min)" joint_1_max="$(arg head_joint_1_max)"
    joint_2_min="$(arg head_joint_2_min)" joint_2_max="$(arg head_joint_2_max)"
    joint_1_velocity_limit="$(arg head_joint_1_velocity_limit)"
    joint_2_velocity_limit="$(arg head_joint_2_velocity_limit)"
    joint_1_acceleration_krad_s2="$(arg head_joint_1_acceleration_krad_s2)"
    joint_1_deceleration_krad_s2="$(arg head_joint_1_deceleration_krad_s2)"
    joint_1_maximum_speed_rad_s="$(arg head_joint_1_maximum_speed_rad_s)"
    joint_2_acceleration_krad_s2="$(arg head_joint_2_acceleration_krad_s2)"
    joint_2_deceleration_krad_s2="$(arg head_joint_2_deceleration_krad_s2)"
    joint_2_maximum_speed_rad_s="$(arg head_joint_2_maximum_speed_rad_s)"
    can_interface="$(arg head_can_interface)"
    motor_1_can_id="$(arg head_motor_1_can_id)" motor_2_can_id="$(arg head_motor_2_can_id)"
    motor_1_master_id="$(arg head_motor_1_master_id)"
    motor_2_master_id="$(arg head_motor_2_master_id)"
    configure_timeout_ms="$(arg head_configure_timeout_ms)"
    feedback_timeout_ms="$(arg head_feedback_timeout_ms)"
    transition_timeout_ms="$(arg head_transition_timeout_ms)"
    command_rate_hz="$(arg head_command_rate_hz)"
    disabled_poll_interval_ms="$(arg head_disabled_poll_interval_ms)"
    max_rx_frames_per_cycle="$(arg head_max_rx_frames_per_cycle)"
    use_mock_hardware="$(arg use_mock_hardware)"/>
</robot>
