<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robot_v3_end_effectors">
  <xacro:macro name="v3_gripper" params="side">
    <link name="${side}_link7">
      <xacro:if value="${side == 'left'}">
      <xacro:property name="fixed_mass" value="4.968" />
      <xacro:property name="fixed_cx" value="0.00791768934263" />
      <xacro:property name="fixed_cy" value="0.0540799104769" />
      <xacro:property name="fixed_cz" value="0.0701258437238" />
      <xacro:property name="fixed_ixx" value="0.0279908997017" />
      <xacro:property name="fixed_ixy" value="0.00130496404675" />
      <xacro:property name="fixed_ixz" value="-3.28935086884e-05" />
      <xacro:property name="fixed_iyy" value="0.022648579088" />
      <xacro:property name="fixed_iyz" value="0.00613871307241" />
      <xacro:property name="fixed_izz" value="0.0190359642103" />
      </xacro:if>
      <xacro:unless value="${side == 'left'}">
      <xacro:property name="fixed_mass" value="4.968" />
      <xacro:property name="fixed_cx" value="0.00791767509113" />
      <xacro:property name="fixed_cy" value="-0.0540798334135" />
      <xacro:property name="fixed_cz" value="0.0701258512213" />
      <xacro:property name="fixed_ixx" value="0.0279908999288" />
      <xacro:property name="fixed_ixy" value="-0.0013049632645" />
      <xacro:property name="fixed_ixz" value="-3.28923344296e-05" />
      <xacro:property name="fixed_iyy" value="0.0226485772779" />
      <xacro:property name="fixed_iyz" value="-0.00613871361202" />
      <xacro:property name="fixed_izz" value="0.0190359657934" />
      </xacro:unless>
      <inertial>
        <origin xyz="${fixed_cx} ${fixed_cy} ${fixed_cz}" rpy="0 0 0" />
        <mass value="${fixed_mass}" />
        <inertia ixx="${fixed_ixx}" ixy="${fixed_ixy}" ixz="${fixed_ixz}" iyy="${fixed_iyy}" iyz="${fixed_iyz}" izz="${fixed_izz}" />
      </inertial>
      <visual>
        <material name="robot_v3_gray">
          <color rgba="0.82 0.82 0.82 1" />
        </material>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot_description/meshes/robot_v3/ee_fixed_body_visual.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.040201 -0.071594 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot_description/meshes/robot_v3/ee_fixed_body_collision.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
    </link>
    <link name="${side}_moving_jaw">
      <xacro:if value="${side == 'left'}">
      <xacro:property name="jaw_mass" value="0.086" />
      <xacro:property name="jaw_cx" value="0.0312110612538" />
      <xacro:property name="jaw_cy" value="-0.0474096878043" />
      <xacro:property name="jaw_cz" value="0.109610525425" />
      <xacro:property name="jaw_ixx" value="0.000118896982982" />
      <xacro:property name="jaw_ixy" value="3.07524146586e-05" />
      <xacro:property name="jaw_ixz" value="-6.87716451222e-05" />
      <xacro:property name="jaw_iyy" value="0.000351487783728" />
      <xacro:property name="jaw_iyz" value="-1.33502439253e-05" />
      <xacro:property name="jaw_izz" value="0.00031015323329" />
      </xacro:if>
      <xacro:unless value="${side == 'left'}">
      <xacro:property name="jaw_mass" value="0.086" />
      <xacro:property name="jaw_cx" value="0.0312110359947" />
      <xacro:property name="jaw_cy" value="0.0474097719652" />
      <xacro:property name="jaw_cz" value="0.109610521055" />
      <xacro:property name="jaw_ixx" value="0.00011889699562" />
      <xacro:property name="jaw_ixy" value="-3.07524441807e-05" />
      <xacro:property name="jaw_ixz" value="-6.87716525407e-05" />
      <xacro:property name="jaw_iyy" value="0.000351487781911" />
      <xacro:property name="jaw_iyz" value="1.33502310459e-05" />
      <xacro:property name="jaw_izz" value="0.000310153222468" />
      </xacro:unless>
      <inertial>
        <origin xyz="${jaw_cx} ${jaw_cy} ${jaw_cz}" rpy="0 0 0" />
        <mass value="${jaw_mass}" />
        <inertia ixx="${jaw_ixx}" ixy="${jaw_ixy}" ixz="${jaw_ixz}" iyy="${jaw_iyy}" iyz="${jaw_iyz}" izz="${jaw_izz}" />
      </inertial>
      <visual>
        <material name="robot_v3_gray">
          <color rgba="0.82 0.82 0.82 1" />
        </material>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot_description/meshes/robot_v3/moving_jaw_visual.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot_description/meshes/robot_v3/moving_jaw_collision.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
    </link>
    <joint name="${side}_moving_jaw_joint" type="prismatic">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${side}_link7" />
      <child link="${side}_moving_jaw" />
      <axis xyz="1 0 0" />
      <limit lower="0" upper="0.080" effort="500" velocity="0.10" />
      <dynamics damping="2.0" friction="1.0" />
    </joint>
  </xacro:macro>

  <xacro:macro name="v3_suction" params="side">
    <link name="${side}_link7">
      <inertial>
        <origin xyz="-0.000330 -0.000125 0.070303" rpy="0 0 0" />
        <mass value="2.618" />
        <inertia ixx="0.008369176" ixy="-0.000035407" ixz="-0.000011217" iyy="0.025870483" iyz="0.000004429" izz="0.027959973" />
      </inertial>
      <visual>
        <material name="robot_v3_gray">
          <color rgba="0.82 0.82 0.82 1" />
        </material>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot_description/meshes/robot_v3/suction_visual.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.158443333 -0.088374996 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot_description/meshes/robot_v3/suction_collision.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
